.main{
    /*
    border-style: dashed;
    border-width: 1px;
    border-color: blue;
    */

    display: flex;
    align-items: center;
    flex-direction: column;

    height:100%;
    width:100%;
}

.menu{
    /*
    border-style: dashed;
    border-width: 1px;
    border-color: red;
    */

    border-style:solid;
    border-width:1px;
    border-color:darkgray;

    display: flex;
    align-items: center;

    height:50px;
    width:100%;
}

.bookInput{
    margin:10px
}

input:invalid {
  border: 2px dashed black;
}

input:invalid:required {
    border: 2px dashed red;
  }

input:valid {
  border: 2px solid black;
}

.catalog{
    /*
    border-style: dashed;
    border-width: 1px;
    border-color: green;
    */

    display: flex;
    justify-content: center;
    flex-wrap: wrap;


    width:100%;
    margin-top: 10px;
}

.bookTable{
    /*
    border-style: dashed;
    border-width: 1px;
    border-color: purple;
    */

    width:100%;
}

th{
    border: 1px solid #4e4e4e;
    text-align: center;
    background-color: #788ff8;
    padding: 8px;
}

.ghostCol{
    display: flex;
    border-style: none;
    background-color: none;
}

td{
    text-align: center;
    border: 1px solid #4e4e4e;
}

tr:nth-child(even) td:not(:last-child){
    background-color: #dddddd;
  }